* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.background img{
  width: 100%;
  height: 100vh;
  filter: blur(50px);
  position: fixed;
  z-index: -1;
  transform: scale(1.1);
}

.audio-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.audio-box {
  width:20rem ;
  height: 23rem ;
  /* border: 3px solid black ; */
  border-radius: 1rem 1rem 1rem 1rem;
  display: flex ;
  flex-direction: column ;
  justify-content: flex-end ;
  background: #fff;
  background-size: cover;
}

.top-items {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 1rem 1rem;
}

.bottom-items {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  color:rgb(105, 105, 105);
  padding-bottom: 1rem;
}
.audio-control-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.audio-options {
  display: flex;
  width: 20rem;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
/*time section*/
.time-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 30px;
  padding:0 1rem ;
}
.music-time {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
.progress-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0.5rem;
}
.progress {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid blue;
}
.ball {
  overflow: visible;
   width: 0.5rem;
   height: 0.5rem;
   border-radius: 50%;
   background-color: rgba(13, 71, 161,0.5);
 }
 .ball:hover {
   width: 0.7rem;
   height: 0.7rem;
 }
.speed-div {
  width: 6rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

i:hover {
  color: #292524;
  transition: all ease 0.1s;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 50px;
  padding-right: 0;
}

.play-and-pause {
  font-size: 2rem;
}
.active-shuffle {
  color: #292524;
}
.active-repeat {
 color : #292524;
}
.music-cover{
  display: flex;
  justify-content: center;
  align-items: center;
}
.music-cover img{
  height: 0;
  width: 0;
  opacity: 0;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);
  transition: .5s;
  box-shadow: 1px 1px 10px 5px rgb(127, 140, 141); 
}
.music-cover img.active {
 position: relative;
  width: 15rem;
  height: 15rem;
  opacity: 1;
  border-radius: 50%;
  transition: all .5s ease;
}
.song-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  padding-top: 1rem;
}
